# Datasets
VCTK-Corpus-0.92.zip
VCTK-Corpus-0.92/
wget-log.1

# Models
pretrain/
model_16/
model_32/
model_64/
model_128/
model_retrained/

# Eval
eval_audio-WaveNet/
eval_audio_old/
test.ipynb
generated_files_from_mel/

# Resource
autovc-master/
hifi-gan-master/
simple-autovc-master/
speechbrain/

# Results
001_baseline-results/
002_baseline-results/

# Audios
audio_test/

# other
__pycache__/
logs/
generated-audio/
